// * { border: 1px solid #f00; }
.navBar {
    padding: 0.5rem;
    margin: 0;
    background-color: #ccc;
    .navList {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        li {
            flex: 1;
            display: inline-block;
        }
    }
}

body.fixed-nav {

}
